body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(86, 4, 179), rgba(43, 62, 240, 0.952));
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
  }

  .wait {
    animation: pulse 1s infinite alternate;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }